<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script type='text/javascript' src='https://code.jquery.com/jquery-3.6.4.min.js'></script>
    <script type='text/javascript' src='http://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AqesDSP1QCJfuPJJ0PeaaRPGCFr2gou-EVTJEgM5_d_aNCw80OGn1BfVXAZRqvWk' async defer></script>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            height: 100%;
        }

        .directionsContainer {
            width: 380px;
            height: 100%;
            /* overflow-y: auto; */
            float: right;
        }

        #myMap {
            position: relative;
            width: calc(100% - 480px);
            height: 100%;
            float: left;
        }
    </style>
</head>
<body>
    <div class="directionsContainer">
        <div id="directionsPanel"></div>
        <div id="directionsItinerary"></div>

        <!-- New div elements to display start and end locations -->
        <div id="startLocationInfo">Start Location: </div>
        <div id="endLocationInfo">End Location: </div>
    </div>
    <div id="myMap"></div>

    <script type='text/javascript'>
        var map;
        var directionsManager;

        function GetMap() {
            map = new Microsoft.Maps.Map('#myMap', {});

            // Load the directions module.
            Microsoft.Maps.loadModule('Microsoft.Maps.Directions', function () {
                // Create an instance of the directions manager.
                directionsManager = new Microsoft.Maps.Directions.DirectionsManager(map);

                // Specify where to display the route instructions.
                directionsManager.setRenderOptions({ itineraryContainer: '#directionsItinerary' });

                // Specify the where to display the input panel
                directionsManager.showInputPanel('directionsPanel');

                // Add event handler for when directions are calculated.
                Microsoft.Maps.Events.addHandler(directionsManager, 'directionsUpdated', function (args) {
                    // Get the start and end locations.
                    var startLocation = directionsManager.getRouteResult().routes[0].routeLegs[0].actualStart.displayAddress;
                    var endLocation = directionsManager.getRouteResult().routes[0].routeLegs[0].actualEnd.displayAddress;

                    // Log the coordinates to the console.
                    geocodeLocation(startLocation, 'Start');
                    geocodeLocation(endLocation, 'End');
                });
            });
        }

        function updateLocationInfo(elementId, info) {
            // Update the HTML with location information.
            var infoDiv = document.getElementById(elementId);
            infoDiv.innerHTML = info;
        }

        function geocodeLocation(location, type) {
            // Use Bing Maps Location API to get the coordinates of the location.
            var geocodeRequest = 'http://dev.virtualearth.net/REST/v1/Locations/' + encodeURIComponent(location) + '?key=AqesDSP1QCJfuPJJ0PeaaRPGCFr2gou-EVTJEgM5_d_aNCw80OGn1BfVXAZRqvWk';

            // Make an AJAX request to the Bing Maps Location API.
            $.ajax({
                url: geocodeRequest,
                dataType: 'json',
                success: function (data) {
                    // Extract coordinates from the response.
                    var coordinates = data.resourceSets[0].resources[0].point.coordinates;

                    // Use the obtained coordinates for further processing.
                    console.log(type + ' Location - Latitude: ' + coordinates[0] + ', Longitude: ' + coordinates[1]);

                    // Update the HTML with latitude and longitude information.
                    updateLocationInfo(type.toLowerCase() + 'LocationInfo', type + ' Location - Latitude: ' + coordinates[0] + ', Longitude: ' + coordinates[1]);
                },
                error: function (error) {
                    console.error('Error geocoding location: ' + error);
                }
            });
        }
    </script>
</body>
</html>
