const deleteLink = document.querySelector("#deleteBtn");
    deleteLink.addEventListener('click', function (event) {
      event.preventDefault(); // Prevent the default action (following the link)

      const selectedCheckboxes = document.querySelectorAll('input[name="selectedWarehouse"]:checked');
      if (selectedCheckboxes.length === 0) {
        alert('Please select at least one warehouse to delete.');
      } else if (selectedCheckboxes.length > 1) {
        alert('You can delete only one warehouse/row of data at a time.');
      } else {
        const selectedId = selectedCheckboxes[0].value;
        const deleteUrl = `/delete_warehouse/id=${selectedId}`;
        window.location.href = deleteUrl; // Redirect to the delete page with selected ID
      }
    });