<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Dashboard</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon" />
    <link
      href="../static/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/quill/quill.snow.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/quill/quill.bubble.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/remixicon/remixicon.css"
      rel="stylesheet"
    />
    <link
      href="../static/assets/vendor/simple-datatables/style.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet" />


  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <div class="d-flex align-items-center justify-content-between">
        <a href="/" class="logo d-flex align-items-center">
          <img src="../static/assets/img/logo.png" alt="" />
          <span class="d-none d-lg-block">RoutExpert</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div>
      <!-- End Logo -->
    </header>
    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#components-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-menu-button-wide"></i><span>Configuration</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="components-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="warehouse_config">
                <i class="bi bi-circle"></i><span>Warehouse</span>
              </a>
            </li>
            <li>
              <a href="trans_equip_config">
                <i class="bi bi-circle"></i
                ><span>Transportation Equipment</span>
              </a>
            </li>
            <li>
              <a href="trans_location_config">
                <i class="bi bi-circle"></i
                ><span>Transportation locations</span>
              </a>
            </li>
            <li>
              <a href="trans_status_config">
                <i class="bi bi-circle"></i><span>Status</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Components Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#forms-nav"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-journal-text"></i
            ><span>Transportation Logistics System</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="forms-nav"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="transportation_planner">
                <i class="bi bi-circle"></i><span>Transportation Planner</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Forms Nav -->
      </ul>
    </aside>
    <!-- End Sidebar-->

    <main id="main" class="main">

        <div class="pagetitle">
          <h1>Warehouse</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Warehouse Config</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->
    
        <section class="section dashboard">
            <!-- <div class="container"> -->
              <div class="row">
                <!-- Action buttons -->
                <div class="col-md-6">
                  <div class="dropdown d-inline-block">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="configurationDropdown"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-lightning-charge"></i> Action
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="configurationDropdown">
                      <li><a class="dropdown-item" href="#"><i class="bi bi-plus"></i> Add</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Update</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-trash"></i> Delete</a></li>
                    </ul>
                  </div>
                  <button class="btn btn-success save-button">Save</button>
                  <button class="btn btn-danger cancel-button">Cancel</button>
                </div>
              </div>
            </div>
        
            <!-- Table -->
            <div class="container-lg-10 mt-4">
            <!-- <div class="container mt-4"> -->
                <div class="card">
                    <div class="card-body">
       
                      <table class="table datatable">
                        <thead>
                          <tr>
                            <th>
                              <b>N</b>ame
                            </th>
                            <th>Ext.</th>
                            <th>City</th>
                            <th data-type="date" data-format="YYYY/DD/MM">Start Date</th>
                            <th>Completion</th>
                          </tr>
                        </thead>
                        <tbody>
                                <tr>
                                  <td>Quentin Salas</td>
                                  <td>1339</td>
                                  <td>Los Andes</td>
                                  <td>2011/26/01</td>
                                  <td>49%</td>
                                </tr>
                                <tr>
                                  <td>Armand Suarez</td>
                                  <td>6583</td>
                                  <td>Funtua</td>
                                  <td>1999/06/11</td>
                                  <td>9%</td>
                                </tr>
                                <tr>
                                  <td>Gretchen Rogers</td>
                                  <td>5393</td>
                                  <td>Moxhe</td>
                                  <td>1998/26/10</td>
                                  <td>24%</td>
                                </tr>
                                <tr>
                                  <td>Harding Thompson</td>
                                  <td>2824</td>
                                  <td>Abeokuta</td>
                                  <td>2008/06/08</td>
                                  <td>10%</td>
                                </tr>
                                <tr>
                                  <td>Mira Rocha</td>
                                  <td>4393</td>
                                  <td>Port Harcourt</td>
                                  <td>2002/04/10</td>
                                  <td>14%</td>
                                </tr>
                                <tr>
                                  <td>Drew Phillips</td>
                                  <td>2931</td>
                                  <td>Goes</td>
                                  <td>2011/18/10</td>
                                  <td>58%</td>
                                </tr>
                                <tr>
                                  <td>Emerald Warner</td>
                                  <td>6205</td>
                                  <td>Chiavari</td>
                                  <td>2002/08/04</td>
                                  <td>58%</td>
                                </tr>
                                <tr>
                                  <td>Colin Burch</td>
                                  <td>7457</td>
                                  <td>Anamur</td>
                                  <td>2004/02/01</td>
                                  <td>34%</td>
                                </tr>
                                <tr>
                                  <td>Russell Haynes</td>
                                  <td>8916</td>
                                  <td>Frascati</td>
                                  <td>2015/28/04</td>
                                  <td>18%</td>
                                </tr>
                                <tr>
                                  <td>Brennan Brooks</td>
                                  <td>9011</td>
                                  <td>Olmué</td>
                                  <td>2000/18/04</td>
                                  <td>2%</td>
                                </tr>
                                <tr>
                                  <td>Kane Anthony</td>
                                  <td>8075</td>
                                  <td>LaSalle</td>
                                  <td>2006/21/05</td>
                                  <td>93%</td>
                                </tr>
                                <tr>
                                  <td>Scarlett Hurst</td>
                                  <td>1019</td>
                                  <td>Brampton</td>
                                  <td>2015/07/01</td>
                                  <td>94%</td>
                                </tr>
                                <tr>
                                  <td>James Scott</td>
                                  <td>3008</td>
                                  <td>Meux</td>
                                  <td>2007/30/05</td>
                                  <td>55%</td>
                                </tr>
                                <tr>
                                  <td>Desiree Ferguson</td>
                                  <td>9054</td>
                                  <td>Gojra</td>
                                  <td>2009/15/02</td>
                                  <td>81%</td>
                                </tr>
                                <tr>
                                  <td>Elaine Bishop</td>
                                  <td>9160</td>
                                  <td>Petrópolis</td>
                                  <td>2008/23/12</td>
                                  <td>48%</td>
                                </tr>
                                <tr>
                                  <td>Hilda Nelson</td>
                                  <td>6307</td>
                                  <td>Posina</td>
                                  <td>2004/23/05</td>
                                  <td>76%</td>
                                </tr>
                                <tr>
                                  <td>Evangeline Beasley</td>
                                  <td>3820</td>
                                  <td>Caplan</td>
                                  <td>2009/12/03</td>
                                  <td>62%</td>
                                </tr>
                                <tr>
                                  <td>Wyatt Riley</td>
                                  <td>5694</td>
                                  <td>Cavaion Veronese</td>
                                  <td>2012/19/02</td>
                                  <td>67%</td>
                                </tr>
                                <tr>
                                  <td>Wyatt Mccarthy</td>
                                  <td>3547</td>
                                  <td>Patan</td>
                                  <td>2014/23/06</td>
                                  <td>9%</td>
                                </tr>
                                <tr>
                                  <td>Cairo Rice</td>
                                  <td>6273</td>
                                  <td>Ostra Vetere</td>
                                  <td>2016/27/02</td>
                                  <td>13%</td>
                                </tr>
                                <tr>
                                  <td>Sylvia Peters</td>
                                  <td>6829</td>
                                  <td>Arrah</td>
                                  <td>2015/03/02</td>
                                  <td>13%</td>
                                </tr>
                                <tr>
                                  <td>Kasper Craig</td>
                                  <td>5515</td>
                                  <td>Firenze</td>
                                  <td>2015/26/04</td>
                                  <td>56%</td>
                                </tr>
                                <tr>
                                  <td>Leigh Ruiz</td>
                                  <td>5112</td>
                                  <td>Lac Ste. Anne</td>
                                  <td>2001/09/02</td>
                                  <td>28%</td>
                                </tr>
                                <tr>
                                  <td>Athena Aguirre</td>
                                  <td>5741</td>
                                  <td>Romeral</td>
                                  <td>2010/24/03</td>
                                  <td>15%</td>
                                </tr>
                        </tbody>
                        
                      </table>
                </div>
      
              </div>


            </div>
              </div>
          </section>

          
          
    
      </main>


    
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="../static/assets/vendor/echarts/echarts.min.js"></script>
    <script src="../static/assets/vendor/quill/quill.min.js"></script>
    <script src="../static/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="../static/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
  </body>
</html>
